/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
  main body formatting ==================================
*/
.clearfix:before,
.clearfix:after {
  content:"";
  display:table;
}

.clearfix:after {
  clear:both;
} .clearfix {
  zoom:1;
}

body {
  -mox-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  font-family: arial, sans-serif;
  background-color: rgb(200, 235, 250);
}

h1 {
  font-weight: 300;
  letter-spacing: -0.05em;
  font-size: 80px;
  color: rgb(255,255,255);
}

/* overlay */

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
}

.modal {
  position: fixed;
  left: 50%;
  top: 10%;
  background-color: white;
  border-radius: 10px;
  width: 400px;
  height: 70%;
  padding: 50px 50px;
  margin: 0 -250px;
  z-index: 11;
}

h2 {
  font-weight: 300;
  font-size: 36px;
}

h3 {
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.05em;
  padding: 10px 40px;
}

.user-container {
  border-bottom: 2px solid rgb(70, 120, 150);
  margin: 0 0 10px 0;
}

/* formatting for tweets and body */

a {
  font-weight: bold;
  color: rgb(70, 90, 180);
  text-decoration: none;
}
a:hover {
  color: rgb(130, 180, 190);
}

b {
  font-weight: bold;
}

small {
  font-size: 12px;
}

.logo {
  float: left;
  margin: 50px 0 0 50px;
}
  
.main {
  width: 400px;
  background-color: white;
  border-radius: 5px;
  padding: 50px 100px;
  margin: 50px auto;
}

.tweet, .profile-tweet {
  line-height: 1.2em;
  height: 70px;
  padding: 0 0 0.4em 0;
  margin: 0 0 0.8em 0;
  opacity: 1;
  -moz-transition: opacity 0.8s;
  -o transition: opacity 0.8s;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
  border-bottom: 1px solid rgb(170, 200, 240);
}

.profile-tweet {
  font-size: 18px;
  padding: 0 10px;
  height: 80px;
  border-bottom-width: 2px;
}

.hidden {
  opacity: 0;
  display:none;
}